form,
li {
    list-style: none;
}

.color-box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

form {
    margin: 100px;
    border: 1px solid gray;
    padding: 20px;
}

.alert-success {
    background-color: aquamarine;
    padding: 10px;
    display: flex;
}

.alert-deleted {
    background-color: rgb(255, 127, 127);
    padding: 10px;
    display: flex;
}

nav a {
    display: inline-block;
    font-size: 150%;
    text-decoration: none;
    margin: 30px;
    color: crimson;
}

.controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form.delete {
    margin: 20px 0 40px 0;
    border: none;
    padding: 0;
}

form.delete button {
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.controls a {
    letter-spacing: 1px;
    margin: 20px 10px 40px 0;
    color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}